name: publish-docker-image

on:
  push:
    branches: ['main']
    paths:
      - 'src/main/java/maventdd/app/**.java'
      - 'src/test/java/maventdd/app/**.java'


jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
            images: ghcr.io/masuperappjava
            tags: |
                    type=sha,prefix={{branch}}-
                    type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'master') }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
            context: .
            push: true
            tags: ghcr.io/lalchimi/maSuperAppJava-CI:${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}